body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-singup{
    float: left;
}

.logo{
    float: right;
    width: 45px;
    height: auto;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#home {
    background-color: rgb(34, 34, 34);
    padding: 100px;
    text-align: center;
    color: #f5f5f5;
}
.h1-color{
    color: #f5f5f5;
}
.Scenario-logo{
    width: 300px;
    height: auto;
}

#about {
    background-color: #fff;
    padding: 50px;
    direction: rtl;
}

#services {
    background-color: #414141;
    padding: 50px;
    direction: rtl;
    color: #fff;
}

.service-color{
    color: #fff;
}

#contact {
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1, h2 {
    color: #333;
}

ul {
    list-style: square;
    margin-left: 20px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}